.side-menu {
//   height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  

  .menu-bars {
    position: relative;
    font-size: 2rem;
    margin: 15px 25px;
    color: #ffffff;
  }
}

.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .nav-menu-list {
    .nav-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 0 8px 16px;
      list-style: none;
      margin-bottom: 5px;
    

      a {
        text-decoration: none;
        color: #f5f5f5;
        font-size: 20px;
        width: 95%;
        height: 100%;
        display: flex;
        text-align: center;
        // padding: 15px 0 0 20px;
        border-radius: 10px;
        display: flex;
      }

      a:hover {
        background-color: #1e51fc;
      }

      .dropdown-menu {
        background-color: rgba(32, 48, 64);
        border: none;
      }
    }

    .logout {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 0 8px 16px;
      margin: 10em 0 5px 0;
      color: #f5f5f5;
      font-size: 20px;

      button {
        background-color: rgba(32, 48, 64);
        border: none;
        color: #f5f5f5;
        font-size: 20px;
      }

      :hover {
        background-color: #1e51fc;
      }
    }
  }
}

.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@media screen and (max-width: 790px) {
  .side-menu {
    .menu-bars {
      color: rgba(32, 48, 64);
    }
  }

  .nav-menu {
    height: auto;
    .nav-menu-list {
      .nav-item {
        a {
          text-decoration: none;
          color: rgba(32, 48, 64);
        }

        .dropdown-menu {
          background-color: #ffffff;
          border: none;
        }
      }

      .logout {
        margin: 5px;
        color: rgba(32, 48, 64);
        font-size: 18px;

        button {
          background-color: #ffffff;
          border: none;
          color: rgba(32, 48, 64);
          font-size: 18px;
        }
      }
    }
  }
}
