.container-header {
  img {
    width: 100%;
    height: 500px;
  }

  .banner {
    display: inline-block;
    z-index: 2;
    position: absolute;
    top: 130px;
    left: 0px;
    width: 100%;
    height: 85%;
    background: rgba(19, 18, 18, 0.5);
    padding: 1rem 2rem;
    text-transform: capitalize;

    .banner-text {
      border-radius: 8px;
      padding: 2rem;
      width: 40%;
      background: rgba(19, 18, 18, 0.5);

      a {
        text-decoration: none;
        color: rgb(247, 242, 242);
      }

      a:hover {
        color: rgb(124, 124, 236);
      }
    }

    .quickLinks {
      width: 60%;
      padding: 1.5rem;
      margin: 15rem auto;
      display: flex;
      justify-content: space-between;

      a {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: rgb(247, 242, 242);
        background: rgba(223, 32, 64);

        span {
          margin-top: 25%;
        }
      }

      a:hover {
        opacity: 0.5;
      }
    }

    .register_button {
      position: absolute;
      top: 75%;
      left: 40%;
      width: 15rem;
      padding: 10px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      border-radius: 8px;
      background: rgba(32, 48, 64);
      opacity: 0.9;

      a {
        text-decoration: none;
        color: rgb(247, 242, 242);
      }

      :hover {
        text-decoration: underline;
        color: rgb(85, 85, 241);
      }
    }
  }

  .carousel-section{
    animation-name: slideIn;
    animation-duration: 0.7s;
    animation-iteration-count: 10;
  }
}


// @keyframes slideIn {
//   0% {
//     transform: rotate(0);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

@media screen and (max-width: 990px) {
  .container-header {
    img {
      width: 100%;
      height: auto;
    }
  
    .banner {
      display: inline-block;
      z-index: 2;
      position: absolute;
      top: 65px;
      left: 0px;
      width: 100%;
      height: auto;
      background: rgba(19, 18, 18, 0.5);
      padding: 1rem 2rem;
      text-transform: capitalize;
  
      .banner-text {
        border-radius: 8px;
        padding: 2rem;
        width: 40%;
        background: rgba(19, 18, 18, 0.5);
  
        a {
          text-decoration: none;
          color: rgb(247, 242, 242);
        }
  
        a:hover {
          color: rgb(124, 124, 236);
        }
      }
  
      .quickLinks {
        display: none;
      }
  
      .register_button {
        display: none;
        // position: absolute;
        // top: 75%;
        // left: 40%;
        // width: 15rem;
        // padding: 10px;
        // text-align: center;
        // font-size: 18px;
        // font-weight: 700;
        // border-radius: 8px;
        // background: rgba(32, 48, 64);
        // opacity: 0.9;
  
        // a {
        //   text-decoration: none;
        //   color: rgb(247, 242, 242);
        // }
  
        // :hover {
        //   text-decoration: underline;
        //   color: rgb(85, 85, 241);
        // }
      }
    }
  }
}

