.nav-wrapper {
  .top-nav-links {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;

    .brand_section {
      img {
        width: 150px;
        height: 50px;
      }
    }

    ul {
      display: flex;
    }

    li {
      list-style-type: none;
      margin: 0 20px;
    }

    a {
      text-decoration: none;
      color: rgba(32, 48, 64);
    }

    a:hover {
      color: rgba(6, 6, 243);
    }

    .nav-quick-links {
      li {
        display: flex;
      }

      .quick-links-icon {
        font-size: 20px;
        margin-right: 10px;
      }

      .email,
      .contact,
      .date {
        font-size: 14px;
      }

      .nav-social-media-links {
        li {
          display: flex;
          margin-top: 10px;
          font-size: 20px;
        }
      }
    }
  }

  .navbar-wrapper {
    background: rgba(32, 48, 64);

    ul {
      li {
        display: flex;
        justify-content: space-between;
        text-align: center;
        border-right: 1px solid #afadad;
        padding: 0 20px;
      }
    }

    a {
      color: #ffffff;
      img {
        width: 100px;
        height: 40px;
      }
    }

    a:hover {
      color: rgb(197, 197, 212);
    }

    .dropdown {
      .dropdown-menu {
        background: rgba(19, 18, 18, 0.5);
        // border: 1px solid red;
        width: 13rem;
        li {
          text-align: left;
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .nav-wrapper {
    .top-nav-links {
      display: none;
    }

    .navbar-wrapper {
      background: #ffffff;

      a{
        color: #000000;
      }
      .navbar-body {
        .nav-collapse {
          .navbar-nav {
            .nav-item {
              display: block;
              text-align: left;
              border-right: none;
              
            }
          }
        }
      }
    }

  }

  
}

@media screen and (min-width: 991px) {
  .navbar-wrapper {
    background: #ffffff;
    .navbar-body {
      a {
        color: #ffffff;
        img {
          display: none;
        }
      }
    }
  }
}
