.container {
  .text-header {
    margin: 20px 0;
  }
  .content {
    p {
      text-align: justify;
    }
    .exams {
      .row {
        .col-md-4 {
          .card-section {
            text-align: center;
            img {
              width: 260px;
              height: 280px;
              margin-top: 20px;
            }
            .button-section {
              button {
                margin: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    .text-header {
      margin: 20px 0;
      h2 {
        font-size: 22px;
      }
    }
    .content {
      p {
        text-align: justify;
        font-size: 16px;
      }
      .exams {
        .row {
          .col-md-4 {
            .card-section {
              text-align: center;
              img {
                max-width: 100%;
                height: auto;
                margin-top: 20px;
              }
              .button-section {
                button {
                  margin: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
